*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html,
body,
#app {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.plot {
    min-width: 500px;
    min-height: 500px;
}

.page {
    --transparent-pale: rgba(from var(--text-color) r g b / 0.2);
    --transparent-bright: rgba(from var(--text-color) r g b / 0.6);
    --fill-color: #808080;
}

.icon-harmony {
    --fill: rgba(from var(--text-color) r g b / 0.2);
    --line: rgba(from var(--text-color) r g b / 0.8);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;

    background: rgba(from var(--text-color) r g b / 0.2);
    border: none;

    --height: 4px;
    --height-thumb: 20px;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    margin: 10px 0px;

    cursor: pointer;

    &::-moz-range-thumb {
        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: calc(var(--height-thumb) / 2);
        background: var(--fill-color);
        border: none;
        cursor: pointer;
        box-sizing: content-box;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;

        /* намеренное дублирование: chrome игнорирует, если объединить */

        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: calc(var(--height-thumb) / 2);
        background: var(--fill-color);
        border: none;
        cursor: pointer;
        box-sizing: content-box;
    }
}

input[type='number'],
input[type='text'] {
    border-radius: 0.2rem;
    border: 1px solid var(--transparent-pale);
    background: inherit;
}

.choice-chips {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0.3rem;
}

.choice-chip {
    flex: 1 1 0;
    border: 2px solid var(--transparent-pale);
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
    background: none;
    text-decoration: none;
    text-wrap: nowrap;
}

.choice-chip.current {
    border-color: var(--transparent-bright);
}

.material-symbols-rounded.filled {
    font-variation-settings: 'FILL' 1;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--transparent-pale);
    color: var(--color);
}

button,
input {
    &:hover {
        cursor: pointer;
    }
    &:disabled:hover {
        cursor: not-allowed;
    }
}

.current:hover {
    cursor: default;
}
