*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html,
body,
#app {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.plot {
    min-width: 500px;
    min-height: 500px;
}

:root {
    --radius: 0.5rem;
    --radius-around: calc(var(--radius) + 2px);
    --adaptive-gap: min(1rem, max(0.2rem, 0.6vw));

    --font-default: Roboto, Ubuntu, 'Segoe UI', 'Open Sans', sans-serif;
    --font-mono:
        'Source Code Pro', 'Cascadia Code', 'Fira Mono', 'Cascadia Mono', 'DejaVu Sans Mono',
        monospace;
}

.app-root,
.app-root.light {
    --background: white;
    --text: black;

    --pale: #cccccc;

    --accent-pale: #dbdbdb;
    --accent-pale-bright: #c5c5c5;
    --accent: #808080;
    --accent-small: #666666;

    --line: #353535;
    --line-large: #5f5f5f;

    --transparent-overlay: rgba(255, 255, 255, 0.5);
    --transparent-border: rgba(0, 0, 0, 0.2);

    --error-text: #a2041a;
}

.app-root.dark {
    --background: black;
    --text: white;

    --pale: #333333;

    --accent-pale: #222222;
    --accent-pale-bright: #3b3b3b;
    --accent: #808080;
    --accent-small: #999999;

    --line: #cacaca;
    --line-large: #999999;

    --transparent-overlay: rgba(0, 0, 0, 0.5);
    --transparent-border: rgba(255, 255, 255, 0.25);

    --error-text: #ea726c;
}

.icon-harmony {
    fill: none;
    --fill: var(--pale);
}

body {
    font-family: var(--font-default);
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
}

code {
    font-family: var(--font-mono);
}

.input-range {
    -webkit-appearance: none;
    appearance: none;

    background: var(--pale);
    border: none;

    --height: 4px;
    --height-thumb: 20px;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    margin: 10px 0px;

    &::-moz-range-thumb {
        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: calc(var(--height-thumb) / 2);
        background: var(--accent);
        border: none;
        box-sizing: content-box;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;

        /* намеренное дублирование: chrome игнорирует, если объединить */

        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: calc(var(--height-thumb) / 2);
        background: var(--accent);
        border: none;
        box-sizing: content-box;
    }
}

.input-range-gradient {
    --height: 1.5rem;
    --height-thumb: calc(var(--height) - 2px);
    height: var(--height);
    border-radius: calc(var(--height) / 2);

    border: 1px solid var(--transparent-border);

    background-origin: border-box;
    background-repeat: no-repeat;

    --border: 2px;
    --border-colored: var(--border) solid white;
    --box-shadow: 0px 0px 0px 1px gray;

    &.slider-track-visible {
        padding: 0px calc(var(--height-thumb) / 2);
    }

    .slider-track-inner {
        position: relative;
        height: var(--height);
    }

    .slider-handle {
        position: absolute;
        top: 0px;
        transform: translateX(-50%);
        z-index: 2;

        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: 50%;
        background: none;
        border: var(--border-colored);
        box-shadow: var(--box-shadow);
    }

    &::-moz-range-thumb {
        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: 50%;
        background: none;
        border: var(--border-colored);
        box-shadow: var(--box-shadow);

        box-sizing: border-box;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;

        /* намеренное дублирование: chrome игнорирует, если объединить */

        width: var(--height-thumb);
        height: var(--height-thumb);
        border-radius: 50%;
        background: none;
        border: var(--border-colored);
        box-shadow: var(--box-shadow);

        box-sizing: border-box;
    }
}

.slider-handle:hover {
    cursor: pointer;
}
.slider-handle:hover,
.slider-handle.active {
    transform: translateX(-50%) scale(1.1);
}

input[type='range']:hover {
    &::-moz-range-thumb {
        --accent: var(--accent-small);
        transform: scale(1.1);
    }
    &::-webkit-slider-thumb {
        --accent: var(--accent-small);
        transform: scale(1.1);
    }
}

input[type='range']:active,
.slider-handle.active {
    cursor: grabbing;
}

input[type='number'],
input[type='text'] {
    border-radius: 0.2rem;
    border: 1px solid var(--pale);
    background: var(--background);
    padding: 0.1rem 0.4rem;
}

input[type='checkbox'] {
    appearance: none;
    position: relative;

    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    border-radius: 0.1em;

    background-color: var(--background);
    border: 1px solid gray;

    &:checked {
        &::before {
            visibility: visible;
        }
    }
    &::before {
        position: absolute;
        content: '';
        left: 0.3em;
        bottom: 0.15em;
        width: 0.35em;
        height: 0.8em;
        border: 1px solid var(--text);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        visibility: hidden;
    }
}

.choice-chips {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0.3rem;
}

.choice-chip {
    border: 2px solid var(--pale);
    border-radius: var(--radius);
    padding: 0.5rem 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;

    color: var(--text);
    background: none;
    text-decoration: none;
    text-wrap: nowrap;

    &:hover:not(.current) {
        background-color: var(--accent-pale);
        --line-large: var(--text);

        .icon-harmony {
            --fill: var(--accent);
            --line: var(--text);
        }
    }
}

.choice-chip.router {
    --padding: min(0.5rem, max(0.2rem, 0.5vw));
    padding: var(--padding) calc(var(--padding) * 2) var(--padding) var(--padding);
    svg {
        height: 2.5rem;
        width: auto;
        fill: var(--line-large);
    }
    .icon-harmony {
        fill: none;
        padding: 0.3rem;
    }
}

.choice-chip.current {
    border-color: var(--accent-small);
}

button,
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;

    padding: 0.4rem;
    border-radius: var(--radius);
    border: none;
    background-color: var(--accent-pale);
    color: var(--text);

    &:hover:not(.current) {
        background-color: var(--accent-pale-bright);
    }
}

button svg {
    fill: var(--text);
}

.text-button {
    padding: 0.4rem 0.8rem;
}

button,
input {
    &:hover {
        cursor: pointer;
    }
    &:disabled:hover {
        cursor: not-allowed;
    }
}

.current:hover {
    cursor: default;
}

.popup {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 1.5rem;

    position: absolute;
    z-index: 10;
    width: min(99vw, 30rem);

    background-color: var(--background);
    box-shadow: 0px 3px 4px 0px #000000ab;
    border: 1px solid var(--pale);
    padding: 2rem;
    border-radius: var(--radius);

    > div {
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }

    p {
        margin: 0px;
    }
}

.input-color-components {
    gap: 0.2rem;
}

figure {
    margin: 0px;
    padding: 0px;
}

figcaption {
    text-align: center;
}

.model3D {
    cursor: move;
}

.dark .wheel-svg-controls {
    filter: drop-shadow(0 0 1px rgb(24, 24, 24)) drop-shadow(0 0 1px rgba(0, 0, 0, 0.788));
    stroke-width: 3;
    stroke: white;
    stroke-opacity: 1;
    & > * {
        stroke-width: 3;
        stroke: white;
        stroke-opacity: 1;
    }
    /*
    filter: drop-shadow(1px 1px 0 rgb(255, 255, 255)) drop-shadow(-1px -1px 0 rgb(255, 255, 255))
        drop-shadow(1px -1px 0 rgb(255, 255, 255)) drop-shadow(-1px 1px 0 rgb(255, 255, 255));
        */
    /*
    filter: drop-shadow(0 0 1px rgb(24, 24, 24)) drop-shadow(0 0 1px rgba(0, 0, 0, 0.788));

    stroke: white;

    & > * {
        stroke: white;
    }*/

    /*
    filter: drop-shadow(1px 1px 0 rgb(0, 0, 0)) drop-shadow(-1px -1px 0 rgb(0, 0, 0))
        drop-shadow(1px -1px 0 rgb(0, 0, 0)) drop-shadow(-1px 1px 0 rgb(0, 0, 0));

    stroke: white;
    stroke-width: 3;

    & > * {
        stroke: white;
        stroke-width: 3;
    }*/
}
/*
.dark .color-wheel-square {
    background: radial-gradient(circle, rgb(78, 78, 78) 0%, rgb(78, 78, 78) 60%, black 61%);
}
*/
.dark svg.color-wheel-svg {
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('@/assets/color-wheel.png');
}

body.is-animating * {
    pointer-events: none !important;
    /* это чтобы не моргал экран если во время анимации произошел hover на tooltip */
}
